<div class="card-body">
    <h5 class="card-title"><%= message.username %></h5>
    <p class="card-text"><%- message.text.replaceAll("\n", "<br>") %></p>
    <p class="card-text">
        <small class="text-body-secondary"
            ><%= message.added.toGMTString() %></small
        >
        <p>
        <% for (const link of links) { %>
            <a
            href="<%= link.href %>"
            class="card-link <%= link.type %>"
            ><%= link.text %></a
        >
        <% } %>
        </p>
    </p>
</div>
